{% extends "base.html" %}

{% block head %}

<link type="text/css" href="/stylesheets/css/signup.css" rel="stylesheet">

{% endblock %}

{% block content %}

<div class="container">

  <form class="form-signin" method="post">
    <h3 class="form-signin-heading">Sign Up</h3>
    <label for="inputEmail" class="sr-only">Email address</label> 
    <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" value="{{email}}" required autofocus>
    <p class="error">{{email_error}}</p>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="verifyPassword" class="sr-only">Verify Password</label>
    <input type="password" name="verifyPassword" id="verifyPassword" class="form-control" placeholder="Verify Password" required>
    <p class="error">{{password_error}}</p>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  </form>

</div> <!-- /container -->

{% endblock %}